<div class="customer-details">
    
    <form (ngSubmit)="onSubmit()" #customerForm="ngForm" class="form-container">
      
      <div class="form-section scrollable-section">
        <h3>Applicant Information</h3>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" id="firstName" [(ngModel)]="customer.firstName" name="firstName" required />
          </mat-form-field>
        </div>
  
        
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" [(ngModel)]="customer.email" name="email" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" id="phoneNumber" [(ngModel)]="customer.phoneNumber" name="phoneNumber" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="date" id="dateOfBirth" [(ngModel)]="customer.dateOfBirth" name="dateOfBirth" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select id="gender" [(ngModel)]="customer.gender" name="gender" required>
              <mat-option value="">Select</mat-option>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Marital Status</mat-label>
            <mat-select id="maritalStatus" [(ngModel)]="customer.maritalStatus" name="maritalStatus" required>
              <mat-option value="">Select</mat-option>
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
              <mat-option value="Divorced">Divorced</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Occupation Type</mat-label>
            <input matInput type="text" id="occupationType" [(ngModel)]="customer.occupationType" name="occupationType" required />
          </mat-form-field>
        </div>
      </div>
  
      <div class="form-section scrollable-section">
        <h3>Address Details</h3>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>House No</mat-label>
            <input matInput type="text" id="houseNo" [(ngModel)]="customer.address.houseNo" name="houseNo" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput type="text" id="city" [(ngModel)]="customer.address.city" name="city" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>District</mat-label>
            <input matInput type="text" id="district" [(ngModel)]="customer.address.district" name="district" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input matInput type="text" id="state" [(ngModel)]="customer.address.state" name="state" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Landmark</mat-label>
            <input matInput type="text" id="landmark" [(ngModel)]="customer.address.landmark" name="landmark" />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Pincode</mat-label>
            <input matInput type="number" id="pincode" [(ngModel)]="customer.address.pincode" name="pincode" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput type="text" id="country" [(ngModel)]="customer.address.country" name="country" required />
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="!customerForm.valid" class="submit-button">Save</button>
        </div>
      </div>
    </form>
  </div>
  